.hero-background {
    position: relative; /* Posizionamento relativo per il contenitore */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 4rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 40vh;
  }
  
  .hero-overlay {
    position: absolute; /* Posiziona l'overlay sopra l'immagine di sfondo */
    top: 50%; /* Posiziona verticalmente al centro */
    left: 50%; /* Posiziona orizzontalmente al centro */
    transform: translate(-50%, -50%); /* Centratura perfetta */
    width: 90%; /* Larghezza relativa al contenitore */
    max-width: 50rem; /* Larghezza massima */
    height: 80%; /* Altezza relativa al contenitore */
    background-color: rgba(0, 0, 0, 0.5); /* Filtro grigio scuro semi-trasparente */
    border-radius: 10px; /* Aggiunge angoli arrotondati */
    z-index: 1; /* Assicurati che sia sotto il contenuto ma sopra lo sfondo */
  }
  
  .hero-content {
    position: relative; /* Assicurati che il contenuto sia sopra l'overlay */
    z-index: 2; /* Porta il contenuto sopra l'overlay */
    max-width: 800px;
    margin: 0 auto;
  }
  
  .hero-title {
    font-size: 3rem;
    color: rgb(249, 249, 21);
    font-weight: bold;
    margin: 0 0 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .hero-subtitle {
    font-size: 1.25rem;
    color: var(--hero-text-color);
    margin-bottom: 2rem;
  }
  
  .hero-button {
    display: inline-block;
    background: var(--hero-button-bg);
    color: #fff;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: background 0.3s;
    background-color: black;
  }
  
  .hero-button:hover {
    background: var(--hero-button-bg-hover);
    color: yellow;
    
  }
  